@using company.Services.Dto
@model DepartmentDto
<div>
    <div class="form-group">
        <label asp-for="codde" class="col-form-label"></label>
        <input readonly asp-for="codde" class="form-control" />
        <span asp-validation-for="codde" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input readonly asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Edit</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>

