@model SignUpViewModel
@{
    ViewData["Title"] = "signUp";
    Layout = "~/Views/Shared/_authLayout.cshtml";
}
<div class="main-agileinfo">
    <h2 class="form-title">Sign up</h2>
    <div asp-validation-summary="All"class="text-danger"></div>
    <div class="agileits-top"></div>
    <form asp-action="signUp">
        <input type="text" asp-for="firstName" placeholder="First Name" required class="form-control"/>
        <input type="text" asp-for="LastName" placeholder="last Name" required class="form-control" />
        <input type="text" asp-for="Email" placeholder="Email" required class="form-control" />
        <input type="text" asp-for="password" placeholder="password" required class="form-control" />
        <input type="text" asp-for="confirmPassword" placeholder="confirm password" required class="form-control"/>
        <div class="wthree-text">
            <label class="anim">
            </label>
            <div class="clear"> </div>
        </div>
        <input type="submit" value="signUp" />
    </form>
    <p> have account ? <a asp-action="signIn">Log in</a></p>
</div>
